
body {background: #000;cursor:none;font-family:sans-serif;margin:0;}
.home_header {text-align:center;
	h1 {color:#679;font-family:playregular;font-size:100px;margin:0;}
	p {font-size:16px;margin:0;}}


.spacetrip {display:none;background:#333 url('../img/space-trip.gif')no-repeat center center;background-size:cover;width:100%;}
.spacetrip__active {display:block;}
.spaceShip {background:url('../img/ship.gif')no-repeat left top;background-size:contain;height:60px;position:absolute;width:100px;}
.rounded {border-radius:50%;}
.planet {margin-top:3%;text-align:center;
	img {width:40%;}}

.home_neptune {max-width:150px;margin:auto;margin-top:3%;
	img {width:100%;}}
.home_uranus {max-width:120px;margin-left:80%;margin-top:5%;
	img {width:100%;}}
.home_saturn {max-width:300px;margin-left:10%;margin-top:5%;
	img {width:100%;}}
.home_jupiter {max-width:300px;margin-left:60%;margin-top:5%;
	img {width:100%;}}
.home_mars {max-width:120px;margin-left:30%;margin-top:3%;
	img {width:100%;}}
.home_earth {max-width:140px;margin-left:60%;margin-top:3%;
	img {width:100%;}}
.home_venus {max-width:110px;margin-left:40%;margin-top:3%;
	img {width:100%;}}
.home_mercury {max-width:150px;margin-left:10%;margin-top:3%;
	img {width:100%;}}
.home_sun {max-width:50%;margin:auto;margin-top:3%;
	img {width:100%;}}

.spaceShip_tip-neptune {
	&:before {content:"CAPTAIN, I SEE NEPTUNE !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:-270px;position:relative;padding:5px 10px;width:230px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:-30px;position:relative;top:-30px;transform:rotate(45deg);width:0;}}
.spaceShip_tip-uranus {
	&:before {content:"CAPTAIN, I SEE URANUS !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:-260px;position:relative;padding:5px 10px;width:220px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:-30px;position:relative;top:-30px;transform:rotate(45deg);width:0;}}
.spaceShip_tip-saturn {
	&:before {content:"CAPTAIN, I SEE SATURN !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:120px;position:relative;padding:5px 10px;width:220px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:110px;position:relative;top:-30px;transform:rotate(-135deg);width:0;}}
.spaceShip_tip-jupiter {
	&:before {content:"CAPTAIN, I SEE JUPITER !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:-260px;position:relative;padding:5px 10px;width:220px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:-30px;position:relative;top:-30px;transform:rotate(45deg);width:0;}}
.spaceShip_tip-mars {
	&:before {content:"CAPTAIN, I SEE MARS !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:-260px;position:relative;padding:5px 10px;width:220px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:-30px;position:relative;top:-30px;transform:rotate(45deg);width:0;}}
.spaceShip_tip-earth {
	&:before {content:"CAPTAIN, I SEE EARTH !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:-260px;position:relative;padding:5px 10px;width:220px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:-30px;position:relative;top:-30px;transform:rotate(45deg);width:0;}}
.spaceShip_tip-venus {
	&:before {content:"CAPTAIN, I SEE VENUS !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:-260px;position:relative;padding:5px 10px;width:220px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:-30px;position:relative;top:-30px;transform:rotate(45deg);width:0;}}
.spaceShip_tip-mercury {
	&:before {content:"CAPTAIN, I SEE MERCURY !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:120px;position:relative;padding:5px 10px;width:230px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:110px;position:relative;top:-30px;transform:rotate(-135deg);width:0;}}
.spaceShip_tip-sun {
	&:before {content:"IT'S ABSOLUTELY CRAZY IDEA !!!";background:rgba(255,255,255,.3);border-radius:8px 6px 6px 8px ;color:#fff;display:block;font-family:playregular;font-size:18px;left:120px;position:relative;padding:5px 10px;width:280px;}
	&:after {content:"";display:block;border:10px solid;border-color:rgba(255,255,255,.3) rgba(255,255,255,.3) rgba(255,255,255,0) rgba(255,255,255,0); height:0;left:110px;position:relative;top:-30px;transform:rotate(-135deg);width:0;}}