@font-face {font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {font-family: 'playregular';
    src: url('../fonts/play-regular-webfont.eot');
    src: url('../fonts/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/play-regular-webfont.woff') format('woff'),
         url('../fonts/play-regular-webfont.ttf') format('truetype'),
         url('../fonts/play-regular-webfont.svg#playregular') format('svg');
    font-weight: normal;
    font-style: normal;}